* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  color: #fff;
  position: sticky;
  height: 80px;
  background: yellowgreen;
  display: flex;
  align-items: center;
  img {
    margin: 0 1rem;
  }
}

.main_note {
  margin: 1rem auto;
  position: relative;
  width: 100%;
  min-height: 150px;
  form {
    border: 1px solid rgb(172, 182, 29);
    margin: 1rem auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(12, 126, 111);
    width: calc(500px + 2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      width: 500px;
      border: none;
      margin: 1rem;
      font-size: 1.5rem;
      height: 40px;
    }
    textarea {
      margin: 1rem;
      width: 500px;
      border: none;
      height: auto;
      font-size: 1.2rem;
      resize: none;
    }
    ::placeholder {
      font-size: 1.2rem;
      color: rgb(15, 248, 7);
    }
    .button {
      color: rgb(21, 224, 214);
      position: absolute;
      bottom: 0;
      background: transparent;
      font-size: 2rem;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 150px;
      background: rgb(102, 100, 100);

      &:hover {
        color: rgb(255, 255, 255);
      }
    }
  }
}
.note {
  position: relative;
  overflow-y: scroll;
  display: grid;
  margin: 1rem auto;
  margin-bottom: 50px;
  max-width: 1300px;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  place-items: center;
  min-height: 200px;
  grid-row-gap: 2rem;
  grid-column-gap: 1.5rem;
  .ind_note {
    position: relative;
    border: 1px solid rgb(172, 182, 29);
    flex-direction: column;
    display: flex;
    width: 300px;
    max-height: 200px;
    // justify-content: center;

    border-radius: 10px;
    box-shadow: 0 0 5px rgb(120, 220, 233);
    h1,
    p {
      margin: 0.5rem 0;
    }
    button {
      border: none;
      position: absolute;
      right: 0;
      opacity: 0.7;
      cursor: pointer;
      padding: 5px 10px;
      border-radius: 100px;

      &:hover {
        box-shadow: 0 0 3px rgb(22, 190, 202);
        background: gray;
        opacity: initial;
        color: white;
      }
    }
  }
}
.footer {
  position: fixed;
  bottom: 0;
  height: 40px;
  background: #fff;
  box-shadow: 0px 1px 5px rgb(240, 68, 68);
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  text-align: center;
  justify-content: center;
}
